.login-card {
    .login-title {
        color: rgb(57, 65, 101);
        font-size: 24px;
        font-weight: 400;
    }
    .login-des {
        color: rgb(176, 180, 191);
        font-size: 16px;
        margin-top: 1rem;
    }
    .login-input-row {
        margin-top: 2rem;
        transform: translateY(2.5rem);
        height: 5rem;
        box-sizing: border-box;
        flex-direction: row;
        display: flex;
        width: 110%;
        max-width: 110%;
        box-shadow: 0 6px 12px -6px #9C9C9C;
        .login-input-div {
            width: 70%;
            background-color: rgb(255, 255, 255);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .login-btn {
            width: 30%;
            background-color: rgb(89, 238, 178);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: center;
            line-height: 5rem;
            color: white;
            font-weight: 600;
        }
    }
}