.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    color: rgb(120, 144, 156);
    .main-navbar-container {
        flex: 1 1 100%;
        max-width: 20rem;
        height: 100%;
        background-color: rgb(254, 254, 254); // box-shadow: 6px 0 8px rgb(240, 242, 243);
        box-shadow: 0 0 8px rgba(0, 0, 0, .14), 0 4px 16px rgba(0, 0, 0, .12);
        position: relative;
        z-index: 1;
    }
    .main-right-container {
        flex: 1 1 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        .main-toolbar-container {
            height: 70px;
            background: linear-gradient(rgb(245, 245, 245), rgb(254, 254, 254));
        }
        .main-content-container {
            height: 100%;
            background: linear-gradient(rgb(238, 242, 244), rgb(244, 247, 249));
            padding-left: 8rem;
            padding-top: 6rem;
        }
    }
}