<div class="lg-card">
    <div class="lg-logo">sky-line</div>
    <div class="lg-elem">
        <div class="lg-user-name">
            <div class="input-div">
                <input type="text" placeholder="用户名" [(ngModel)]="userName" />
            </div>
        </div>
        <div class="lg-user-pwd">
            <div class="input-div">
                <input type="password" placeholder="密码" [(ngModel)]="password" />
            </div>
        </div>
        <div class="lg-user-btn">
            <a routerLink="/user/login">返回</a>
        </div>
    </div>
    <div class="lg-bottom">
        <div class="lg-bottom-title"></div>
        <div class="lg-bottom-title lg-bottom-btn">
            <app-user-button [pending]="pending$ | async" (click)="login()" text="登录"></app-user-button>
        </div>
    </div>
</div>