<div class="login-main">
    <div class="lg-left">
        <div class="border-bottom-left"></div>
    </div>
    <div class="lg-content">
        <div class="lg-card">
            <div class="lg-logo">sky-line</div>
            <div class="lg-elem">
                <div class="lg-user-name">
                    <div class="input-div">
                        <input type="text" placeholder="LOGIN" />
                    </div>
                </div>
                <div class="lg-user-pwd">
                    <div class="input-div">
                        <input type="text" placeholder="PASSWORD" />
                    </div>
                </div>
                <div class="lg-user-btn"> Forgot Password?</div>
            </div>
            <div class="lg-bottom">
                <div class="lg-bottom-title">
                    Don't have an account?
                </div>
                <div class="lg-bottom-title lg-bottom-btn">
                    LOG IN
                </div>
            </div>
        </div>
    </div>
    <div class="lg-right">
        <div class="border-bottom-right"></div>
    </div>
</div>